<!-- This is the Login Modal -->
<button class="index-btn uk-margin-small-top uk-button uk-button-primary" uk-toggle="target: #login" type="button">Login</button>

<div id="login" uk-modal>
    <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body">
        <form class="uk-form-stacked" action="/auth/login" method="POST" class="login">
        <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Username:</label>
        <div class="uk-form-controls">
            <input class="uk-input" type="text" name="username" id="username" required placeholder="Username" autofocus>
        </div>
        </div>
        <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Password:</label>
        <div class="uk-form-controls">
            <input class="uk-input" type="password" name="password" id="password" required placeholder="Password">
        </div>
        </div>
        <center><button class="uk-button uk-button-primary" type="submit">Login</button></center>
    </form>
        <button class="uk-modal-close-default" type="button" uk-close></button>
    </div>
</div>