<nav>
    <ul>
        <li><a href="/">ImagenFeed</a></li>
        <li><a href="../../app/notifications">ImagenNotes</a></li>
        <li><a href="../../app/dogs/create">ImagenAddDog</a></li>
        <li><a href="../../app/settings">ImagenSettings</a></li>
    </ul>
</nav>