<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="/">Feed</a></li>
        <li><a href="../../app/dogs/create">Add Dog</a></li>

            <li><a href="../../app/notifications">Notification</a></li>
            <li><a href="../../app/settings">Settings</a></li>
        </ul>
    </div>
    </nav>