<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>    
    <div class="uk-navbar-center">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="/">Feed</a></li>
             <li class="uk-active"><a href="../../app/dogs/create">Add Dog</a></li>
             <li class="uk-active"><a href="../../app/notifications">Messages</a></li>
            <li class="uk-active">
                <a href="#">Settings</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><center><a href="/app/profile">Edit Profile</a></center></li>
                        <li class="uk-nav-divider"></li>
                        <li class="uk-active">
                            <form action="/auth/logout" method="POST">
                            <center><button class="uk-button uk-button-secondary" type="submit">Logout</button></center>
                            </form>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    </nav>