{{#*inline "navUser"}}
  navUser
{{/inline}}
<nav>
    <ul>
        <li><a href="/">Feed</a></li>
        <li><a href="../../app/notifications">Notification</a></li>
        <li><a href="../../app/settings">Settings</a></li>
    </ul>
</nav>