<!-- This is the Sign Up Modal -->
<button style="background-color: white;" class="index-btn uk-margin-small-top uk-button uk-button-default" uk-toggle="target: #signup" type="button">Sign Up</button>
<div id="signup" uk-modal>
    <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body">
        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
            <label><input class="uk-radio" id="user" type="radio" name="radio" checked> User</label>
            <label><input class="uk-radio" id="shelter" type="radio" name="radio"> Shelter</label>
            </div>
        <form name="signUpForm" class="uk-form-stacked" action="/auth/signupUser" method="POST">
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Username:</label>
                <input class="uk-input" type="text" name="username" id="username" required placeholder="Username"
                    autofocus>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Password:</label>
                <input class="uk-input" type="password" name="password" id="password" required placeholder="Password">
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Repeat password:</label>
                <input class="uk-input" type="password" name="passwordtwo" id="passwordtwo" required
                    placeholder="Repeat your password">
            </div>
            <center><button class="uk-button uk-button-secondary" type="submit">Sign up</button></center>
        </form>
        <button class="uk-modal-close-default" type="button" uk-close></button>
    </div>
</div>
<script>
    
    const userCheck = document.getElementById('user');
    const shelterCheck = document.getElementById('shelter');

function chgAction( user, shelter ) {
    if( userCheck.checked ) {
        shelterCheck.checked === false
        return document.signUpForm.action = "/auth/signupUser";
    }
    else if ( shelterCheck.checked ) {
        userCheck.checked === false
        return document.signUpForm.action = "/auth/signupShelter";
    }
}
    userCheck.addEventListener('click', chgAction);
    shelterCheck.addEventListener('click', chgAction);
</script>