
<nav>
    <ul>
        <li><a href="/app/profile">Change Perfil</a></li>
    </ul>
</nav>
<form action="/auth/logout" method="POST">
    <button type="submit">Logout</button>
</form>



{{>navShelter}}