<section class="index-container">
    <center>{{>logo}}</center>
{{!-- <h3>Don't be alone, be adogted</h3> --}}
{{>loginform}}
{{>signupform}}
    {{!-- <form action="/auth/login" method="POST" class="login">
        <label>Username:
            <input type="text" name="username" id="username" required placeholder="Username">
        </label>
        <label>Password:
            <input type="password" name="password" id="password" required placeholder="Password">
        </label>
        <button type="submit">Login</button>
    </form> --}}
    
{{!-- <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #offcanvas-login">Login</button>
<button class="uk-button uk-button-default uk-margin-small-left" type="button" uk-toggle="target: #offcanvas-usage">Sign Up</button> --}}
</section>
{{#if messages.length}}
        <ul class="validation">
            <li>{{messages.[0]}}</li>
        </ul>
    {{/if}}
    {{#if password.length}}
        <ul class="validation">
            <li>{{password.[0]}}</li>
        </ul>
    {{/if}}
    {{#if name.length}}
    <ul class="validation">
        <li>{{name.[0]}}</li>
    </ul>
{{/if}}

