<h1></h1>
{{>logo}}
<section>
    <form action="/auth/login" method="POST" class="login">
        <label>Username:
            <input type="text" name="username" id="username" required placeholder="Username">
        </label>
        <label>Password:
            <input type="password" name="password" id="password" required placeholder="Password">
        </label>
        <button type="submit">Login</button>
    </form>
    <a href="/auth/signup">Signup</a> or <a href="/auth/login">Login</a>
</section>
{{#if messages.length}}
        <ul class="validation">
            <li>{{messages.[0]}}</li>
        </ul>
    {{/if}}
    {{#if password.length}}
        <ul class="validation">
            <li>{{password.[0]}}</li>
        </ul>
    {{/if}}
    {{#if name.length}}
    <ul class="validation">
        <li>{{name.[0]}}</li>
    </ul>
{{/if}}

