<!doctype html>
<html lang="en">

<head>
  <title>adogtion</title>
  <link rel="icon" type="image/png" href="/images/ico.png" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel="stylesheet" href="../../stylesheets/style.css">
  <link rel="stylesheet" href="../../stylesheets/card.css">
{{!--   <link rel="stylesheet" href="../../stylesheets/card.css.map"> --}}
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/css/uikit.min.css" />
  <!-- UIkit JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit-icons.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit.min.js"></script>
</head>
<body>
  <header>
  </header>
  <main>
    {{{body}}}
  </main>
  <footer>
  </footer>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>