<section>
    <form action="/auth/signup" method="POST">
        <label>Username:
            <input type="text" name="username" id="username" required placeholder="Username">
        </label>
        <label>Password:
            <input type="password" name="password" id="password" required placeholder="Password">
        </label>
        <label>Password comprobation:
            <input type="password" name="passwordtwo" id="passwordtwo" required placeholder="Password">
        </label>
        <button type="submit">Signup</button>
    </form>
</section>

{{#if messages.length}}
    <ul class="validation">
        <li>{{messages.[0]}}</li>
    </ul>
{{/if}}
{{#if password.length}}
    <ul class="validation">
        <li>{{password.[0]}}</li>
    </ul>
{{/if}}
{{#if name.length}}
    <ul class="validation">
        <li>{{name.[0]}}</li>
    </ul>
{{/if}}
