/* ---- reset ---- */

html {
  box-sizing: border-box;
  

}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}  

header {
  display: flex;
  justify-content: center;
  margin: 1%;
}
main{
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
/*   width: 100%; */
  height: auto; 
 /*  display: flex; */
  justify-content: center;
  align-items: center;
}  

p {
  margin: 0;
}  
html {
  background: var(--lightBg);
  --lightBtn: #FE016C;
  --lightBg: #fff;
  --lightColor: #232323;
}

html[data-theme='dark'] {
   background: var(--lightBg);
  --lightBtn: #FFBD07;
  --lightBg: #232323;
  --lightColor: #fff;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: var(--lightColor);
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.darkmode-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 55px;
  height: 30px;
  background: var(--lightBtn);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  position: relative;
}

.darkmode-label:after {
  content: '';
  background: #fff;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 4px;
  -webkit-transition: ease-in-out 200ms;
  -moz-transition: ease-usin-out 200ms;
  -ms-transition: ease-in-out 200ms;
  -o-transition: ease-in-out 200ms;
  transition: ease-in-out 200ms;
}

.container_toggle:checked + label {
  background: #FFBD07;
}

.container_toggle:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  -webkit-transition: ease-in-out 200ms !important;
  -moz-transition: ease-in-out 200ms !important;
  -ms-transition: ease-in-out 200ms !important;
  -o-transition: ease-in-out 200ms !important;
  transition: ease-in-out 200ms !important;
  transition-delay: 0!important;
}

.index-container{
  height: 95vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.delete-div{
  display: flex;
  justify-content: center;
}
.profile-img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile-page{
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  
}

.dog-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column wrap;
}
@media (min-width: 500px){
  .dog-list{
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
  }
}
@media (max-width: 500px){
  .dog-list article{
    width: 100%; 
  }
 /*  .uk-navbar{
    position: fixed !important;
    bottom: 0;
  } */
}
main{
  /* width: 90%; */
}

section{
  margin: 1% 1% 1% 1%;
}
.dog-list article{
  margin: 1%;
  width: 300px;
}

.uk-navbar {
  width: 100%;
}

.uk-button{
  margin: 1%;
}

.notifications{
  display: flex;
}

.notifications-img{
  width: 100px;
  border-radius: 50%;
}

.index-btn{
  width: 180px;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  filter: grayscale(100%);

}

.fullscreen-bg .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  background: black;
  opacity: 0.5;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%;
  height: 100%; */
}

@media (min-aspect-ratio: 16/9) {
  #myVideo {
      width:100%;
      height: auto;
      
  }
}

@media (max-aspect-ratio: 16/9) {
  #myVideo { 
      width:auto;
      height: 100%;
  }
}

#logo-white{
  width: 300px;
}

.user-profile{
  margin: 3% 15% 0 15%;
}

.no-items{
  display: flex;
  align-items: center;
  justify-items: center;
  flex-flow: column wrap;
  height: 70vh;
}

.dog-date{
  font-size: 14px;
}

.dog-notes{
  margin: 2%;
}

.profile-info {
  margin: 1% 5% 1% 5%;
}

.hidden{
  display: none;
}

.chats{
  margin: 0 5% 0 5%;
}

.chat-profile{
  display: flex;
}

.center{
  text-align: center;
}

.chat-info{
  display: block;
}

.chat-img{
  width: 30px;
  height: auto;
}