<nav>
    <ul>
        <li><a href="/app/profile">Edit Profile</a></li>
    </ul>
<form action="/auth/logout" method="POST">
    <button type="submit">Logout</button>
</form>
 <input class="container_toggle" type="checkbox" id="switch" name="mode">
 <label class="darkmode-label" for="switch">Toggle</label>
<script src="../javascripts/darkmode.js"></script>
{{>navUser}}
</nav>

